<div class="container text-center">
    <div class="row">
        {{#each courses}}

        {{!-- <a class="a-custom-only" href="#"> --}}
            <div class="grid gap-0 row-gap-3">
                <div class="col-lg-3 col-custom-container">
                    <a class="a-hover-container" href="/details/{{this.slug}}">
                        <div class="card card-custom-container" style="width: 18rem;">
                            <div class="hover-container">
                                <span class="hover-effect"></span>
                                <span class="hover-effect"></span>
                                <span class="hover-effect"></span>
                                <span class="hover-effect"></span>
                                <span class="hover-effect"></span>
                            </div>
                            <img src="{{this.image}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <p class="card-text">{{this.description}}</p>
                                <div href="#" class="btn btn-primary">Go somewhere</div>
                            </div>
                        </div>
                        {{!--
                    </a> --}}
                </div>
            </div>
            {{!--
        </a> --}}
        {{/each}}
    </div>
</div>